body{
    background-color:rgb(104,205,213) ;
    margin: 0;
}
p{
    color: white;
    padding: 1rem 3rem 3rem 3rem;
    font-size: 0.8rem;
}
.return_arrow{
    height: 2.7rem;
    width: 100%;
    padding: 1rem 0 4rem 1rem;
}
.return_arrow img{
    width: 2.7rem;
    height: 2.7rem;
}
.grape{
    height: 3.2rem;
    width: 9rem;
    margin: 0 auto;

}
.grape img{
    height: 3.2rem;
    width: 9rem;

}
.left{
    float: left;
    margin-left: 4rem;

}
.left img{
    width: 4rem;
    height: 4rem;
}
.left p{
    padding: 0;
    margin: 0;
}
.right{
    float: right;
    margin-right: 4rem;
}
.right img{
    width: 4rem;
    height: 4rem;
}
.right p{
    padding: 0;
    margin: 0;
}